/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Chicle&family=Open+Sans&display=swap');

.home-page {
    background-color: #24FF00;
    width: 100vw;
    height: 100vh;
}

.sound {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    padding: 0.35em;
    background-color: #257ac9;
    margin-top: 15px;
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
}

.volume {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-right: 40px;
}

/* Hover glow effect sourced from https://ianlunn.github.io/Hover/ */
.hvr-glow {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
}

.hvr-glow:hover,
.hvr-glow:focus,
.hvr-glow:active {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

.head-titel {
    font-family: "Chicle", "Open-Sans";
    text-align: center;
    color: #257ac9;
}

.logo {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.inc {
    width: 75%;
}

.main-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

/* media query target images*/
@media only screen and (min-width: 1024px) {
    .logo {
        width: 30%;
    }
}

@media screen and (min-width: 768px),
(max-height: 700px) {
    .inc {
        width: 65%;
    }
}

.primary-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    margin-top: 2%;
    margin-bottom: 5%;
    font-family: "Chicle", "Open-Sans";
}

.btn-group-lg>.btn,
.btn-lg {
    font-size: 1.4rem;
    border-radius: 8rem;
}

.btn-primary {
    color: #000;
    background-color: #257ac9;
    border-color: #007bff;
}


/* Hover pulse effect sourced from https://ianlunn.github.io/Hover/ */
@-webkit-keyframes hvr-pulse {
    25% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    75% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

@keyframes hvr-pulse {
    25% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    75% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

.hvr-pulse {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-pulse:hover,
.hvr-pulse:focus,
.hvr-pulse:active {
    -webkit-animation-name: hvr-pulse;
    animation-name: hvr-pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    color: #000;
}

/* Btn modal sourced from url(https://www.youtube.com/watch?v=6ophW7Ask_0) modified according to personal criterias*/
.custom-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    animation-name: modalopen;
    animation-duration: 0.9s;
}

/* instructions modal animation */
@keyframes modalopen {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.custom-modal-content {
    background-color: #257ac9;
    color: #000;
    margin: 5% auto;
    padding: 20px;
    width: 40%;
    border-radius: 5px;
}


h3 {
    text-align: center;
}

.custom-modal-body {
    font-size: 21px;
}

.fa-optin-monster {
    font-size: xx-large;
}

.closeBtn {
    color: #000;
    float: right;
    font-size: 26px;
    line-height: 1;
}

.closeBtn:hover,
.closeBtn:focus {
    text-decoration: none;
    cursor: pointer;
}

.hvr-grow-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

.hvr-grow-shadow:hover,
.hvr-grow-shadow:focus,
.hvr-grow-shadow:active {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}



/* start game modal */
.game-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    animation-name: modalopen;
    animation-duration: 0.9s;
}

.game-modal-content {
    background-color: #257ac9;
    color: #000;
    margin: 5% auto;
    padding: 20px;
    width: 280px;
    border-radius: 5px;
}

.levelsBtn {
    display: grid;
    justify-content: center;
    grid-gap: 10px;
}

.btn-success {
    width: 150px;
    font-size: 18px;
    color: #171917;
    background-color: #29a044;
}

.btn-success:hover {
    color: #000;
    background-color: #1cb73f;
}


.shutBtn {
    color: #000;
    float: right;
    font-size: 26px;
    line-height: 1;
}

.shutBtn:hover,
.shutBtn:focus {
    text-decoration: none;
    cursor: pointer;
}